 <body class="">
  <div class="wrapper">  
    <div class="sidebar"> 
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
    --> 
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li>
            <a (click)="setSelect(1)">
              <i class="fas fa-house-user"></i>
              <p>Mi Perfil</p>
            </a>
          </li>
          <li>
            <a (click)="setSelect(2)">
              <i class="fas fa-folder"></i>
              <p>Expendiente Medico</p>
            </a>
          </li>
          <li>
            <a (click)="setSelect(3)">
              <i class="fas fa-plus-square"></i>
              <p>Registrar Ciclo menstrual</p>
            </a>
          </li>
          <li>
            <a (click)="setSelect(4)">
              <i class="fas fa-calendar-week"></i>
              <p>Calendario menstrual</p>
            </a>
          </li>
          <li>
            <a (click)="setSelect(5)">
              <i class="fas fa-edit"></i>
              <p>Editar Perfil</p>
            </a>
          </li>
          <li>
            <a (click)="setSelect(6)">
              <i class="fas fa-chart-pie"></i>
              <p>Estadisticas</p>
            </a>
          </li>
          <li class="active-pro">
            <a (click)="setSelect(99999)">
              <i class="fas fa-flask"></i>
              <p>Laboratorios</p>
            </a>
          </li>
          <li class="active-pro">
            <a (click)="setSelect(8)">
              <i class="fas fa-cog"></i>
              <p>Configuracion</p>
            </a>
          </li>
          <li class="active-pro">
            <a (click)="logout()">
              <i class="fas fa-sign-out-alt"></i>
              <p>Cerrar sesion</p>
            </a>
          </li>
        </ul>
      </div> 
    </div> 

    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle d-inline">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:void(0)">Perfil</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav ml-auto">
              <li class="search-bar input-group">
                <button class="btn btn-link" id="search-button" data-toggle="modal" data-target="#searchModal"><i class="tim-icons icon-zoom-split" ></i>
                  <span class="d-lg-none d-md-block">Search</span>
                </button>
              </li>

              <li class="separator d-lg-none"></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Navbar -->
    <div class="content">
        <div class="row">
          <div class="col-md-8">
              <!-- maybe an ngSwitch could work here?-->
            <div [ngSwitch]="select">
                <div class="card" *ngSwitchCase="1">
                  <div class="card-header">
                    <h4>Mi Perfil</h4>
                  </div>
                  <div class="card-body">
                    <app-perfil></app-perfil>
                  </div>
                </div>

                <div class="card" *ngSwitchCase="3">
                  <div class="card-header">
                    Nuevo registro
                  </div>
                  <div class="card-body">
                    <app-nuevocm></app-nuevocm>
                  </div>
                </div>

                <div class="card" *ngSwitchCase="4">
                  <div class="card-header">
                    Calendario
                  </div>
                  <div class="card-body">
                    <app-calendar></app-calendar>
                  </div>
                </div>

                <div class="card" *ngSwitchCase="5">
                  <div class="card-header">
                    Editar usuario
                  </div>
                  <div class="card-body">
                    <app-editperfil></app-editperfil>
                  </div>
                </div>
 
                <div class="card" *ngSwitchCase="6">
                  <div class="card-header">
                    Estadisticas
                  </div>
                  <div class="card-body">
                    <app-stats></app-stats>
                  </div>
                </div>

                <div class="card" *ngSwitchCase="8">
                  <div class="card-header">
                    Configuracion
                  </div>
                  <div class="card-body">
                    <app-config></app-config>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    
  </body>
  
  