<form>
  <h5>Informacion Personal</h5>
  <hr>
  <div class="row">

    <ul class="list-group list-group-flush col-md-3 px-md-1">
      <li class="list-group-item">Nombre</li>
      <li class="list-group-item">Primer apellido</li>
      <li class="list-group-item">Segundo apellido</li>
      <li class="list-group-item">Edad</li>
    </ul>

    <ul class="list-group list-group-flush col-md-3 px-md-1">
      <li class="list-group-item">{{ this.perfil.nombre }}</li>
      <li class="list-group-item">{{ this.perfil.apepat }}</li>
      <li class="list-group-item">{{ this.perfil.apemat }}</li>
      <li class="list-group-item">{{ this.perfil.edad }}</li>
    </ul>

  </div>

  <h5>Direccion</h5>
  <hr>
  <div class="row">

    <ul class="list-group list-group-flush col-md-3 px-md-1">
      <li class="list-group-item">Calle</li>
      <li class="list-group-item">Colonia</li>
      <li class="list-group-item">Numero</li>
      <li class="list-group-item">Numero Interno</li>
      <li class="list-group-item">Codigo Postal</li>
      <li class="list-group-item">Municipio</li>
      <li class="list-group-item">Estado</li>
    </ul>

  </div>
</form>