<form>
  <h5>Informacion Personal</h5>
  <hr>
  <div class="row">
    
    <p>Nombre {{this.perfil.nombre}}</p>
    <p>Primer apelpdo {{ this.perfil.apepat }}</p>
    <p>Segundo apelpdo {{ this.perfil.apemat }}</p>
    <p>Edad {{ this.perfil.edad }}</p>

  </div>

  <h5>Direccion</h5>
  <hr>
  <div class="row">

    <ul class="pst-group pst-group-flush col-md-3 px-md-1">
      <p>Calle</p>
      <p>Colonia</p>
      <p>Numero</p>
      <p>Numero Interno</p>
      <p>Codigo Postal</p>
      <p>Municipio</p>
      <p>Estado</p>
    </ul>

  </div>
</form>