<form>
  <h5>Informacion Personal</h5>
  <hr>
  <div class="row">
    
    <p>Nombre {{this.perfil.nombre}}</p> 
    <p>Primer apelpdo {{ this.perfil.apepat }}</p>
    <p>Segundo apelpdo {{ this.perfil.apemat }}</p>
    <p>Edad {{ this.perfil.edad }}</p>

  </div>

  <h5>Direccion</h5>
  <hr>
  <p> {{this.perfil.domicilio.calle}} #{{this.perfil.domicilio.numero}}, colonia {{this.perfil.domicilio.colonia}}, {{this.perfil.domicilio.municipio}}, estado</p>

  <h5>Informacion de contacto</h5>
  <hr>
  <p>Piiiiito</p>
</form>