
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!--     Fonts and icons     --> 
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
 
</head>


<body class=""> 
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img src="../../../assets/imgs/ELLAA.png" alt="" width="100">
        
       
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            
            <li class="nav-item active">
                <div class="typography-line">
               
                    <h1 >
                BIENVENIDO:  DR.{{nombre}}</h1></div>
            </li>  <li class="nav-item active">
                
            </li>
           
          </ul>
          
          <button class="btn btn-outline-success my-2 my-sm-0" (click)="logout()" >Log Out</button>
          
        </div>
      </nav>
       <!--Navbar-->
      
      <br>
      <br>
      <br>
      <br>
   

      <div class="row">
        <div class="col"><h1><i class="fas fa-file-medical-alt"></i>Pacientes</h1></div>
        <div class="col">
            
        </div>
        
      </div>




      <div class="card-body">

        <div >
            <table class="table tablesorter  table-striped"  id="docpac">
              <thead class=" text-primary">
                <tr>
                  <th  align="center">
                    Nombre Completo:
                  </th>
    
                  <th align="center">
                    Peso:
                  </th >
                  <th align="center">
                    Altura:
                  </th >
                  <th align="center">
                    Tipo de sangre:
                  </th>
                  <th align="center">
                    Alergias:
                  </th>
                  <th align="center">
                    
                    <button   class="btn btn-outline-success my-2 my-sm-0" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModalNEX">
                      Nuevo Paciente<i class="fas fa-plus"></i>
                    </button>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let paciente of pacientes">
                  <td   align="center">
                   {{paciente._idpaciente.nombre}} {{paciente._idpaciente.apepat}} {{paciente._idpaciente.apemat}}
                    
                  </td>
                  
                  <td align="center">
                    {{paciente.peso}}
                  </td >
                  <td align="center">
                    {{paciente.Altura}}
                  </td>
                  <td align="center">
                    {{paciente.tiposangre}}
                  </td>
                  <td>
                    <h4><i class="far fa-plus-square" (click)="sintomaex(paciente)" data-bs-toggle="modal" data-bs-target="#exampleModalNSP">Add</i></h4>
                <div *ngFor="let alergia of paciente.alergias">    
                   Causa: {{alergia.causa}}
                   <br>
                  
                   Complicacion:{{alergia.complicacion}}
                   <br>
                   
                  Sintomas:{{alergia.sintomas}}
                  <br>
                  <hr>
                </div> 
                <br>
                 
                
                
                  </td>
                  <td align="center"> <h4 >Eliminar Paciente<i (click)="eliminarex(paciente)"  class="fas fa-user-minus"></i></h4> </td>
                  <td align="center">
    
                    <button (click)="verex(paciente)"  class="btn btn-outline-success  my-sm-0" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Ver Expediente <i class="fas fa-file-medical-alt"></i>
                      </button>
                      
                  </td>
                  <td>
                    <button  (click)="verper(paciente)" class="btn btn-outline-success my-sm-0" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModalIP">
                      Informacion Personal <i class="fas fa-address-card"></i>
                    </button>
                  </td>
                 
                </tr>
                
              </tbody>
            </table>
          </div>
        </div>
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>




     

        
        
          
   




      
</body>







  <!-- Modal principal -->
  <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-body">
            
            <div class="row">
                <div class="col-2"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="col">
                    Expediente de: {{nombreP}}
                </div>
              </div>
              <hr>
              <button (click)="verME()" class="btn btn-outline-success my-2 my-sm-0" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModalME">
                <i class="fas fa-pills"></i> Medicamentos
              </button> <br>
              <br>
              <button (click)="verSI()" class="btn btn-outline-success my-2 my-sm-0" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModalSI">
                <i class="fas fa-heartbeat"></i>  Sintomas
              </button><br>
              <br>
              <button  (click)="verQ()" class="btn btn-outline-success my-2 my-sm-0" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModalQ">
                <i class="fas fa-user-nurse"></i> Quiste
              </button><br>
              <br>
              <button  (click)="verAN()" class="btn btn-outline-success my-2 my-sm-0" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModalAN">
                <i class="fas fa-vial"></i>  Estudios de sangre  
              </button><br>
              <br>
              <button (click)="verMA()" class="btn btn-outline-success my-2 my-sm-0" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModalMA">
                <i class="fas fa-tablets"></i>  Metodos Anticonceptivos
              </button><br>
              <br>
             <!-- <button (click)="verAM()" class="btn btn-outline-success my-2 my-sm-0" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModalAM">
                <i class="fas fa-file-medical"></i>  Antecedentes<i class="fas fa-file-medical"></i>
              </button><br>
              <br>-->
              <button (click)="verCM()" class="btn btn-outline-success my-2 my-sm-0" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModalCM">
                <i class="far fa-calendar-alt"></i> Ciclo<i class="far fa-calendar-alt"></i>
              </button> <br>
              <br>



        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>


  <!-- Modal Medicamentos -->
  <div class="modal fade" id="exampleModalME" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-xxl-down">
      <div class="modal-content">
      
        <div class="modal-body">
            <div class="row">
                <div class="col-2"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="col">
                  <i class="fas fa-pills"></i>Medicamentos de: {{nombreP}}
                </div>
              </div>
              <hr><br>
              <input type="text" class="form-control" #filtroo placeholder="Buscar&hellip;" (keyup)="applyFilter2(filtroo.value)">
               <br>   
              <div class="row">
                  <div class="col">
                    <font color="black">Agregar un Nuevo Medicamento</font> 
                    <button  class="btn btn-outline-success my-2 my-sm-0" type="button"  data-bs-toggle="modal" data-bs-target="#nuevoME" >
                      <i class="fas fa-hand-holding-medical"></i>
                    </button> 
                  </div>
                  <div class="col">

                    <font color="black">Imprimir Receta</font>
                    <button  class="btn btn-outline-success my-2 my-sm-0" type="button"   (click)="pdf()" >
                      <i class="fas fa-print"></i>
                    </button> 

                  </div>   

                 </div>
              <div id="medikt">
                <br>
                <i class="fas fa-pills"></i>Medicamentos de: {{nombreP}}
                <br>

                 <table class="table table-success table-striped">
                   
                  <thead>
                    <tr>
                      <th >
                        <font color="black">Nombre del Medicamento</font>
                          
                      </th>
                      <th >
                        <font color="black">Dosis</font>
                          
                      </th>
                      <th >
                        <font color="black">Fecha Inicio</font>
                          
                      </th>
                      <th >
                        <font color="black">Fecha Fin</font>
                          
                      </th>
                      <th >
                        <font color="black">Posibles Efectos</font>
                          
                      </th>
                      <th >
                        <font color="black">Notas</font>
                          
                      </th>
                      <th>
                        <font color="black">  Eliminar Medicamento</font>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let med of medicamento">
                      <td >
                        <font color="black">{{med.nombre}}</font>
                      </td>
                      <td >
                        <font color="black">
                         Cantidad:{{med.dosis.cantidad}} <br>
                        Frecuencia: {{med.dosis.frecuencia}} 
                        </font>
                      </td>
                      <td >
                        <font color="black">{{med.fechainicio | date:'dd/MM/yyyy'}}</font>
                      </td>
                      <td >
                        <font color="black">{{med.fechafin | date:'dd/MM/yyyy'}}</font>
                      </td>
                      <td >
                        <font color="black">{{med.efectos}}</font>
                      </td>
                      <td >
                        <font color="black">{{med.notas}}</font>
                      </td>
                      <td align="center">
                  
                        <button  (click)="eliminarME(med)" class="btn btn-outline-success my-2 my-sm-0" type="button"  >
                          <i class="fas fa-trash-alt"></i>
                        </button> 
                        <button  (click)="editarMEe(med)" class="btn btn-outline-success my-2 my-sm-0" type="button"  data-bs-toggle="modal" data-bs-target="#editME">
                          <i class="fas fa-edit"></i>
                        </button> 
                    </td>
                      </tbody>
                 </table>

                 <br>
                 <br>

                Firma doctor:_______________________________________

              </div>
        </div>
        <div class="modal-footer">
            <button  class="btn btn-outline-success my-2 my-sm-0" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal">
                Volver
              </button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>

<!-- Modal Informacion Personal -->
<div class="modal fade" id="exampleModalIP" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <div class="modal-body">
          <div class="row">
              <div class="col-2"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="col">
                  Informacion Personal de:  {{nombreP}}
              </div>
            </div>
            <hr><br>
            <i class="fas fa-user-friends"></i> <br>
            <font color="#000063"> <b>Nombre Completo:</b> </font> 
            {{personal.nombre}} {{personal.apepat}} {{personal.apemat}}<br>
            <font color="#000063"> <b>Edad:</b> </font> 
            {{personal.edad}}<br>
            <font color="#000063"> <b>Domicilio</b> </font><br>
            <font color="#000063"> <b>Calle:</b> </font> {{personal.domicilio.calle}}
            <font color="#000063"> <b>Numero:</b> </font> {{personal.domicilio.numero}}<br>
            <font color="#000063"> <b>Colonia:</b> </font> {{personal.domicilio.colonia}}
            <font color="#000063"> <b>Cp:</b> </font> {{personal.domicilio.cp}}
            <font color="#000063"> <b>Municipio:</b> </font> {{personal.domicilio.municipio}}<br>
            <font color="#000063"> <b>Estado:</b> </font> {{personal.domicilio.estado}}
            <font color="#000063"> <b>Pais:</b> </font> {{personal.domicilio.pais}}
            <br>
            <font color="#000063"> <b>Contacto:</b> </font> 
            {{personal.contacto}}
           

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="limp()">Close</button>
        
      </div>
    </div>
  </div>
</div>

    <!-- Modal Nuevo ME -->
    <div class="modal fade" id="nuevoME" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
        
          <div class="modal-body">
              <div class="row">
                  <div class="col-2"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="col">
                    <i class="fas fa-laptop-medical"></i>      Nuevo Medicamento <i class="fas fa-laptop-medical"></i>
                  </div>
                </div>
                <hr>
              
                <div class="container">
                  <div class="row">
                    <div class="col-4"> 
                      <font color="#000063"> <b>Nombre del medicamento</b> </font>
                      <input type="text"   class="form-control"size=10 [(ngModel)]="nuevomedicamento.nombre"  value="nuevomedicamento.nombre"> 
                    </div>
                   <div class="col-4"> 
                    <font color="#000063"> <b> Fecha de Inicio </b> </font>
                     <input type="date"   class="form-control"size=10 [(ngModel)]="nuevomedicamento.fechainicio"  value="nuevomedicamento.fechainicio"> 
                   </div>
                   <div class="col-4"> 
                   
                   <font color="#000063"> <b>Fecha de Fin</b> </font>
                    <input type="date"   class="form-control"size=10 [(ngModel)]="nuevomedicamento.fechafin"  value="nuevomedicamento.fechafin"> 
                  </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-4"> 
                      
                      <font color="#000063"> <b>Dosis</b> </font><br>
                      <font color="#000063"> <b>Cantidad:</b> </font> <input type="number"   class="form-control"size="5"[(ngModel)]="nuevomedicamento.dosis.cantidad"  value="nuevomedicamento.cantidad"> 
                      <font color="#000063"> <b>Frecuencia:</b> </font><input type="text"   class="form-control"size="5"[(ngModel)]="nuevomedicamento.dosis.frecuencia"  value="nuevomedicamento.frecuencia"> 
                   
                    </div>
                   <div class="col-4"> 
                    <font color="#000063"> <b>Efectos secundarios</b> </font>
                    <textarea   class="form-control" aria-label="With textarea" [(ngModel)]="nuevomedicamento.efectos"  value="nuevomedicamento.efectos"></textarea> 
                    </div>
                   <div class="col-4"> 
                    <font color="#000063"> <b>Notas</b> </font>
                    <textarea class="form-control" aria-label="With textarea" [(ngModel)]="nuevomedicamento.notas"  value="nuevomedicamento.notas"></textarea> 
                  </div>
                  </div>
                </div>
                 <br>
                <button (click)="nuevoME()" class="btn btn-outline-success my-2 my-sm-0" type="button"  >
                  Guardar
                </button>
  
          </div>
          <div class="modal-footer">
              <button  class="btn btn-outline-success my-2 my-sm-0" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModalME">
                  Volver
                </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            
          </div>
        </div>
      </div>
    </div>
     <!-- Modal edit ME -->
     <div class="modal fade" id="editME" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
        
          <div class="modal-body">
              <div class="row">
                  <div class="col-2"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="col">
                    <i class="fas fa-laptop-medical"></i> Editar Medicamento <i class="fas fa-laptop-medical"></i>
                  </div>
                </div>
                <hr>
              
                <div class="container">
                  <div class="row">
                    <div class="col-4"> 
                      <font color="#000063"> <b>Nombre del medicamento</b> </font>
                      <input type="text"   class="form-control"size=10 [(ngModel)]="editnuevomedicamento.nombre"  value="editnuevomedicamento.nombre"> 
                    </div>
                   <div class="col-4"> 
                    <font color="#000063"> <b> Fecha de Inicio </b> </font>
                     <input type="date"   class="form-control"size=10 [(ngModel)]="editnuevomedicamento.fechainicio"  value="editnuevomedicamento.fechainicio"> 
                   </div>
                   <div class="col-4"> 
                   
                   <font color="#000063"> <b>Fecha de Fin</b> </font>
                    <input type="date"   class="form-control"size=10 [(ngModel)]="editnuevomedicamento.fechafin"  value="editnuevomedicamento.fechafin"> 
                  </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-4"> 
                      
                      <font color="#000063"> <b>Dosis</b> </font><br>
                      <font color="#000063"> <b>Cantidad:</b> </font> <input type="number"   class="form-control"size="5"[(ngModel)]="editnuevomedicamento.dosis.cantidad"  value="editnuevomedicamento.cantidad"> 
                      <font color="#000063"> <b>Frecuencia:</b> </font><input type="text"   class="form-control"size="5"[(ngModel)]="editnuevomedicamento.dosis.frecuencia"  value="editnuevomedicamento.frecuencia"> 
                   
                    </div>
                   <div class="col-4"> 
                    <font color="#000063"> <b>Efectos secundarios</b> </font>
                    <textarea   class="form-control" aria-label="With textarea" [(ngModel)]="editnuevomedicamento.efectos"  value="editnuevomedicamento.efectos"></textarea> 
                    </div>
                   <div class="col-4"> 
                    <font color="#000063"> <b>Notas</b> </font>
                    <textarea class="form-control" aria-label="With textarea" [(ngModel)]="editnuevomedicamento.notas"  value="editnuevomedicamento.notas"></textarea> 
                  </div>
                  </div>
                </div>
                 <br>
                <button (click)="editarME()" class="btn btn-outline-success my-2 my-sm-0" type="button"  >
                  Guardar
                </button>
  
          </div>
          <div class="modal-footer">
              <button  class="btn btn-outline-success my-2 my-sm-0" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModalME">
                  Volver
                </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            
          </div>
        </div>
      </div>
    </div>
<!-- Modal Nuevo Expediente -->
  <div class="modal fade" id="exampleModalNEX" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
      
        <div class="modal-body">
            <div class="row">
                <div class="col-2"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="col">
                    Nuevo Expediente
                </div>
              </div>
              <hr>
              <div class="container">
                <div class="row">
                  <div class="col-5">
                    <font color="#000063"> <b>Paciente</b> </font>
                  <select class="form-control" [(ngModel)]="nuevoexpediente._idpaciente" placeholder="Seleccione el Paciente">
                    <option placeholder="Seleccione el Paciente" class="form-control" *ngFor="let paciente of paacientes; let i = index"  [value]="paacientes[i]._id" id="identificador">
                     {{paacientes[i].nombre}} 
                    </option>
                  </select>
                  </div>
                  <div class="col-3"> 
                    <font color="#000063"> <b>Tipo de sangre</b> </font>
                    <input type="text"   class="form-control"size=10 [(ngModel)]="nuevoexpediente.tiposangre"  value="nuevoexpediente.tiposangre"> 
                 
                  </div>
                  <div class="col-2"> 
                    <font color="#000063"> <b>Altura-CM</b> </font>
                    <input type="number"   class="form-control"size=10 [(ngModel)]="nuevoexpediente.Altura"  value="nuevoexpediente.Altura"> 
  
                  </div>
                  <div class="col-2">
                    <font color="#000063"> <b>Peso-KG</b> </font>
                    <input type="number"   class="form-control"size=10 [(ngModel)]="nuevoexpediente.peso"  value="nuevoexpediente.peso"> 
                 
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="row">
                    <div class="col-5">----------------------------------------------------------------------------</div>
                    <div class="col-2"> <font color="#000063"> <b>Alergias</b> </font></div>
                    <div class="col-5">------------------------------------------------------------------------</div>
                 
                </div>
                    <div class="row">
                      <div class="col-4">
                        <font color="#000063"> <b>Causa</b> </font>
                        <input type="text"   class="form-control"size=10 [(ngModel)]="nuevoexpediente.alergias[0].causa"  value="nuevoexpediente.alergias[0].causa">    
                      </div>
                      <div class="col-4">
                        <font color="#000063"> <b>Sintomas</b> </font>
                        <input type="text"   class="form-control"size=10  #sintoma >   
                        <button (click)="sintomaas(sintoma.value)" class="btn btn-outline-success my-2 my-sm-0" type="button" >
                          Añadir otro
                        </button>
                      </div>
                      <div class="col-4">
                        <font color="#000063"> <b>Complicacion </b> </font>
                        <input type="text"   class="form-control"size=10 [(ngModel)]="nuevoexpediente.alergias[0].complicacion"  value="nuevoexpediente.alergias[0].complicacion">    
                      </div>
                    </div>
                   
                  </div>
                  
                </div>
             


        </div>
        <div class="modal-footer">
            <button (click)="nuevoEX()" class="btn btn-outline-success my-2 my-sm-0" type="button" >
                Guardar
              </button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>



  <!-- Modal Nuevo sintoma-->
  <div class="modal fade" id="exampleModalNSP" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
      
        <div class="modal-body">
            <div class="row">
                <div class="col-2"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="col">
                   Añadir Sintomas a  {{nombreP}}
                </div>
              </div>
              <hr>
              <div class="container">
                <div class="row">
                  <div class="row">
                    <div class="col-5">----------------------------------------------------------------------------</div>
                    <div class="col-2"> <font color="#000063"> <b>Alergias</b> </font></div>
                    <div class="col-5">------------------------------------------------------------------------</div>
                 
                </div>
                    <div class="row">
                      <div class="col-4">
                        <font color="#000063"> <b>Causa</b> </font>
                        <input type="text"   class="form-control"size=10 [(ngModel)]="nuevalergia.causa"  value="nuevalergia.complicacion">    
                      </div>
                      <div class="col-4">
                        <font color="#000063"> <b>Sintomas</b> </font>
                        <input type="text"   class="form-control"size=10  #sintomaa >   
                        <button (click)="sintomaaas(sintomaa.value)" class="btn btn-outline-success my-2 my-sm-0" type="button" >
                          Añadir otro
                        </button>
                      </div>
                      <div class="col-4">
                        <font color="#000063"> <b>Complicacion </b> </font>
                        <input type="text"   class="form-control"size=10 [(ngModel)]="nuevalergia.complicacion"  value="nuevalergia.complicacion">    
                      </div>
                    </div>
                   
                  </div>
                  
                </div>
             


        </div>
        <div class="modal-footer">
            <button (click)="nuevosintoma()" class="btn btn-outline-success my-2 my-sm-0" type="button" >
                Guardar
              </button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>


  
  <!-- Modal Sintomas -->
  <div class="modal fade" id="exampleModalSI" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-body">
              <div class="row">
                <div class="col-2"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="col">
                  <i class="fas fa-heartbeat"></i>    Sintomas de:{{nombreP}}
                </div>
              </div>
              <hr><br>
                   
              <input type="text" class="form-control" #filtro placeholder="Buscar&hellip;" (keyup)="applyFilter(filtro.value)">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">  <font color="black"> <b>Sintoma</b> </font></th>
                    <th scope="col">  <font color="black"> <b>Fracuencia</b> </font></th>
                    <th scope="col">  <font color="black"> <b>Duracion</b> </font></th>
                    <th scope="col">  <font color="black"> <b>Intensidad</b> </font></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let sinto of sintooma">
                    <td>
                      <font color="black"> {{sinto.sintoma}} </font>
                    </td>
                    <td>
                      <font color="black"> {{sinto.frecuencia}} </font>
                    </td>
                    <td> <font color="black"> {{sinto.duracion}} </font></td>
                    <td> <font color="black"> {{sinto.intensidad}} </font></td>
                   
                    
                  </tr>
                 
                </tbody>
              </table>

        </div>
        <div class="modal-footer">
            <button  class="btn btn-outline-success my-2 my-sm-0" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal">
                Volver
              </button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>

<!-- Modal Ciclos -->
<div class="modal fade" id="exampleModalCM" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <div class="modal-body">
            <div class="row">
                <div class="col-2"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="col">
                    Ciclos Menstruales de:{{nombreP}}
                </div>
              </div>
              <hr>
            
              <div class="container" >
                  
  
                 
                
              </div>


        </div>
        <div class="modal-footer">
            <button  class="btn btn-outline-success my-2 my-sm-0" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal">
                Volver
              </button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>

<!-- Modal Quiste -->
<div class="modal fade" id="exampleModalQ" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <div class="modal-body">
            
            <div class="row">
                <div class="col-2"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="col">
                  <i class="fas fa-user-nurse"></i>    Quiste de: {{nombreP}}
                </div>
              </div>
              <hr><br>

              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">  <font color="black"> <b>Lugar</b> </font></th>
                    <th scope="col">  <font color="black"> <b>Cancerigeno</b> </font></th>
                    <th scope="col">  <font color="black"> <b>Removido</b> </font></th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let q of quiste">
                    <td>
                      <font color="black"> {{q.lugar}} </font>
                    </td>
                    <td>
                      <font color="black"> {{q.cancer}} </font>
                    </td>
                    <td> <font color="black"> {{q.removido}} </font></td>
                  </tr>
                  <tr>
                    <td> <font color="black"> <b>Datos</b> </font></td>
                    <td *ngFor="let q of quiste">
                      <font color="black"> Fecha de toma:{{q.datos[0].fecha | date:'dd/MM/yyyy'}} </font> <br>
                      <font color="black"> Tamaño:{{q.datos[0].tam}} Milimetros </font>
                    </td>
                  </tr>
                 
                </tbody>
              </table>

        </div>
        <div class="modal-footer">
            <button  class="btn btn-outline-success my-2 my-sm-0" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal">
                Volver
              </button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>

<!-- Modal Estdios de sangre -->
<div class="modal fade" id="exampleModalAN" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
       
        <div class="modal-body">
            <div class="row">
                <div class="col-2"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="col">
                  <i class="fas fa-vial"></i> Estudios de Sangre de: {{nombreP}}
                </div>
              </div>
              <hr><br>
              


              <div class="container ">
                <div class="row">
                  <div class="col-1"><i  (click)="imenos()" class="fas fa-angle-double-left"></i></div>
                 <div class="col-10">
                   <div id="sangre">
                          
                    <canvas id="line_chart" width="400px" height="400px"></canvas>
                  <h3 class="text-center mt-3">Line Chart</h3>

                  Estudios de Sangre de: {{nombreP}}
                   </div>
                 </div>
                 <div class="col-1">
                  <i class="fas fa-angle-double-right" (click)="imas()"></i>
                 </div>
                </div>
                    
                <button (click)="pdf2()" class="btn btn-outline-success my-2 my-sm-0" type="button"  >
                  Imprimir <i class="fas fa-print"></i>
                </button>
                   
              </div>

         
        </div>
        <div class="modal-footer">
            <button (click)="icero()" class="btn btn-outline-success my-2 my-sm-0" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal">
                Volver
              </button>
          <button type="button" (click)="icero()"  class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Metodos Antconceptivos -->
  <div class="modal fade" id="exampleModalMA" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
       
        <div class="modal-body">
            <div class="row">
                <div class="col-2"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="col">
                  <i class="fas fa-tablets"></i> Metodos Anticonceptivos de : {{nombreP}}
                </div>
              </div>
              <hr><br>

              <table class="table table-success table-striped">

                <thead>
                  <tr>
                    <th >
                      <font color="black">Nombre del Medicamento</font>
                        
                    </th>
                   
                    <th >
                      <font color="black">Fecha Inicio</font>
                        
                    </th>
                    <th >
                      <font color="black">Posibles Efectos</font>
                        
                    </th>
                    <th>
                      <font color="black">  Eliminar Medicamento</font>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let med of anticonceptico">
                    <td >
                      <font color="black">{{med.metodo}}</font>
                    </td>
                    
                    <td >
                      <font color="black">{{med.fechainicio | date:'dd/MM/yyyy'}}</font>
                    </td>
                   
                    <td >
                      <font color="black">{{med.efectos}}</font>
                    </td>
                   
                    <td align="center">
            
                        <button  class="btn btn-outline-success my-2 my-sm-0" type="button"  >
                          <i class="fas fa-trash-alt"></i>
                        </button> 
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                  
                   
                    <td><font color="black">Agregar un Nuevo Medicamento</font></td>
                    <td align="center">
                      <button  class="btn btn-outline-success my-2 my-sm-0" type="button"  data-bs-toggle="modal" data-bs-target="#nuevoME" >
                        <i class="fas fa-hand-holding-medical"></i>
                      </button> 
                    </td> 
                  </tr>
                </tbody>
              </table>

        </div>
        <div class="modal-footer">
            <button  class="btn btn-outline-success my-2 my-sm-0" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal">
                Volver
              </button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Antecedentes -->
  <div class="modal fade" id="exampleModalAM" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <div class="modal-body">
            <div class="row">
                <div class="col-2"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="col">
                    Antedecentes Medicos de:  {{nombreP}}
                </div>
              </div>
              <hr><br>

 antecedentes

        </div>
        <div class="modal-footer">
            <button  class="btn btn-outline-success my-2 my-sm-0" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal">
                Volver
              </button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>

</html>
