<!DOCTYPE html>
<html>
	<head>
		<title>ELLA</title>
		<link rel="stylesheet" type="text/css" href="login.component.css">
	</head>

	<body>
		<div *ngIf="!newUser">
			<div class="container">
				<div class="d-flex justify-content-center h-100">
					<div class="card">
						<div class="card-header">
							<div class="row">
								<div class="col">
									<img src="../../../assets/imgs/ELLAA.png" alt="" width="100">
									
								</div>
								<div class="col">
									<h3>ELLA</h3>
								</div>
							</div>
							
						
						</div>
						<div class="card-body">
							<p class="ErrorMSG" *ngIf="notreg">Lo sentimos, pero el usuario o la contraseña no son correctos</p>
							<form [formGroup]="sesion">
								<div class="input-group form-group">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="fas fa-user"></i></span>
									</div>
									<input type="text" class="form-control" placeholder="username" formControlName="username">	
								</div>

								<div class="input-group form-group">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="fas fa-key"></i></span>
									</div>
									<input type="password" class="form-control" placeholder="password" formControlName="contra">
								</div>

								<div class="row align-items-center remember">
									<input type="checkbox">Recordar contraseña
								</div>

								<div class="form-group">
									<!--<input type="submit" value="Login" class="btn float-right login_btn" routerLink="['general']">    (click)="onLogin()"-->
									<a class="btn float-right login_btn centrado"   (click)="login()" >Login</a>
								</div>
							<!--<div id="badlogin" style="visibility: hidden;">
									<p style="color: red;">Contraseña o usuario incorrecto</p>
								</div> -->
							</form>
						</div>
						<div class="card-footer">
							<p>¿Nueva aqui? intenta <a  class="btn float-right login_btn centrado"  (click)="register()"> registrarte </a> </p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div *ngIf="newUser">
			<app-register></app-register>
		</div>
	</body>
</html>