<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card text-center">
            <div class="card-header">
                <h3>ELLA</h3>
            </div>

            <div class="card-body">
              <form [formGroup]="sesion">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="username" formControlName="username">
						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" placeholder="password" formControlName="contra">
					</div>
					<div class="row align-items-center remember">
						<input type="checkbox">Recordar contraseña
					</div>
					<div class="form-group">
						<!--<input type="submit" value="Login" class="btn float-right login_btn" routerLink="['general']">    (click)="onLogin()"-->
						<a class="btn float-right login_btn"   (click)="login()" >Login</a>
					</div>
					<!--
					<div id="badlogin" style="visibility: hidden;">
						<p style="color: red;">Contraseña o usuario incorrecto</p>
					</div>
					-->
				</form>
            </div>
	</div>
</div>